.main {
    flex: 1;

}

.landing-image{
    padding:0rem 7rem;
    height:40rem;
    background-image: url("../images/home-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing{
    padding:3rem 0;
    
    .article{
        font-family: $font-family-fira;
        margin: auto;
        &--text{
            font-weight: 400;
        }
    }
    &--image{
        &-pic{
            width:100%;
        }
    }
}
.arrow{
    text-align: center;
    margin-top:4;
    padding:1rem 0;
}
.page-item{
    background-color: $primary-color;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    color:white;
}
.blue{
    background-color: $secondary-color;
    color: white;
    padding: 2rem;
    margin-top:-4rem;
    height:100%;

}

.top-marg{
    margin-top:1rem;
}

.pict{
    img{
        width:100%;
    }
}