.main-title{
    font-weight: 600;
    border: 8px solid palegoldenrod;
    color:white;
    font-size:4rem;
    text-transform:uppercase;
    padding: 1rem;
    text-align: center;
}

.article--title{
    font-weight:600;
    text-decoration: $underline;
    
}
.white{
    color:white;
}