$font-family-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;

$font-family-fira: 'Fira Sans', sans-serif;

$primary-color: #121212;
$secondary-color: #3700B3;
$greenish-color: #03DAC6;
$purple-color: #BB86FC;
$white: #FFFF;
$grayish-color: rgb(224, 223, 223);
$underline: underline palegoldenrod;

$ahs-purple: #7E57C5;
$ahs-pink: #D20082;
$ahs-red: #ED0034;
$ahs-orange: #F58732;
$ahs-green: #5AB946;
$ahs-blue: #00A5D9;

$spacing: 18;
$pc-breakpoint: 880px;