---
layout: layouts/base.njk
title: Services
tag: services
description: test test test test test test
eleventyNavigation:
  key: Services
  order: 2
---
<div class="service">
  
</div>
<div class="container">
  <div class="row">
    <div class="col-6 blue">
      <h2 class="article--title">Our Services</h2>
      <p class="article--text">From lead nurturing about SEO, SEA and social media to remarketing and marketing automation: we put together the marketing mix that best suits the business objectives. Our experts focus on results that can be measured in detail. <br> Our experts guide you in a complete digital marketing approach. With a well-defined strategy, we ensure effective marketing that aims to maximize the return on your marketing budget. We make constant adjustments to get the most out of it. </p>
    </div>
    <div class="col-6 pict top-marg">
      <img src="../static/images/strategy.jpg" alt="">
    </div>
  </div>

  <div class="row page-item">
    <div class="col-6">
      <h2 class="article--title">Audits and strategy</h2>
      <p class="article--text">We analyze your current marketing efforts with in-depth audits and see what can be improved immediately. The audits also serve as the basis for a sophisticated strategy to continue to score well in the long term. Audits are important to see if your marketing efforts are achieving the desired result and how they can be made even better. A marketing audit yields several things</p>
    </div>
    <div class="col-6 pict">
      <img src="../static/images/audit.jpg" alt="">
    </div>
  </div>
  <div class="row page-item">
    <div class="col-6 pict">
      <img src="../static/images/instagram.jpg" alt="">
    </div>
    <div class="col-6">
      <h2 class="article--title">Digital advertising</h2>
      <p class="article--text">A high ROI on your marketing budget: that's what our advertising team takes care of. With the right campaigns on social media, in search engines and all other relevant channels for your business. Clear KPIs and clear reports ensure that adjustments can be made quickly and in a targeted manner. With digital advertising you bring yourself to the attention of consumers, in the right place and at the right time. To advertise successfully, you have to consider several factors.</p>
    </div>
  </div>
  <div class="row page-item">
    <div class="col-6">
      <h2 class="article--title">SEO</h2>
      <p class="article--text">SEO helps improve your ranking in the search results. Our multilingual copywriters provide the perfect content and work closely with the Marketing Technology team, which tackles the technical part of SEO. Nobody knows exactly how Google's search algorithms work, but what is certain is that they are constantly being refined. So SEO is constantly evolving.</p>
    </div>
    <div class="col-6 pict">
      <img src="../static/images/seo.jpg" alt="">
    </div>
  </div>
</div>