---
layout: layouts/base.njk
title: Services
tag: services
description: test test test test test test
eleventyNavigation:
  key: Services
  order: 2
---
<div class="service">
  
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 blue">
      <h2 class="article--title">My Services</h2>
      <p class="article--text">As a future-to-be Front-End Web Developer, I offer the most mandatory services that are required to be able to perform well and satisfy to my client's needs. As there is no such thing as "done learning", I always try to learn new stuff individually.</p>
    </div>
    <div class="col-12 col-sm-6 pict top-marg">
      <img src="../static/images/strategy.jpg" alt="">
    </div>
  </div>

  <div class="row page-item">
    <div class="col-12 col-sm-6">
      <h2 class="article--title">JAVASCRIPT</h2>
      <p class="article--text">Javascript was an entirely new subject/technology to me. Being a total rookie at it, it was rather hard to get the hang out of it but I'm glad to say that, eventually, I have learnt to work with it and apply it. As you can never entirely learn Javascript, I proceed to learn it individually to become a great programmer in the future.</p>
    </div>
    <div class="col-12 col-sm-6 pict">
      <img src="../static/images/javascript2.jpg" alt="">
    </div>
  </div>
  <div class="row page-item">
    <div class="col-12 col-sm-6 pict">
      <img src="../static/images/html.jpg" alt="">
    </div>
    <div class="col-12 col-sm-6">
      <h2 class="article--title">HTML & CSS</h2>
      <p class="article--text">I managed to learn to work with HTML and CSS, these are in my opinion the basics you must have in order to be an aspiring developer. Furthermore I have also learnt to work with Eleventy and SASS.</p>
    </div>
  </div>
  <div class="row page-item">
    <div class="col-12 col-sm-6">
      <h2 class="article--title">UI/UX DESIGN</h2>
      <p class="article--text">As a part of my studies, I got the benefit of learning UI/UX designing. This helps me with the creating of a website protype carefully and expands my experience as a Front-End Web Developer.</p>
    </div>
    <div class="col-12 col-sm-6 pict">
      <img src="../static/images/design.png" alt="">
    </div>
  </div>
</div>