---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
description: Get great at designing amazing websites and mobile applications with high-performance code and neat graphics. In the Associate Degree in Computer Programming you will learn all the tricks of the digital trade.
---

<div class="container">
    <div class="row landing">
        <div class="col-6 article">
            <h2 class="article--title">Our Digital Agency</h2>
            <p class="article--text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
        </div>
        <div class="col-6 landing--image">
            <img src="https://picsum.photos/620/340" alt="">
        </div>
        <div class="col-12 arrow">
            kijk verder pijl ding
        </div>
    </div>
    <div class="row arrow">
    </div>
</div>
<div class="container">

</div>