---
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 5
title: Contact
---

<h1>{{ title}}</h1>

{% include "components/form.njk" %}
    

    <div class="map"> 
      {% include "components/map.njk" %} 
      <div>
        <h1>Navigation</h1><br>
        Elaborate and find your way around by using the embedded map !
        </div>





