<div class="blockquote">
    <div class="blockquote__inner">
    <p>
        <cite>
            {{testimony.quote}} <br><br>— {{testimony.cite}}, <b>{{testimony.occupation}}</b>
        </cite>
    </p>
    </div>
</div>