  <img src="{{ wallpaper | url }} " alt="Detailtop" width=100% height=700px>

<section class="detail__intro">
        <ul>
            <li><b>Client: </b><div class="li__div">{{client.name}} </div></li>
            <li><b>Request: </b><div class="li__div">{{client.request}} </div> </li>
            <li><b>Result: </b> <div class="li__div"><a href="{{client.link}} ">{{client.link}} </a></div> </li>
            <li><b>Client: </b> <div class="li__div"> {{client.name}} </div></li>
        </ul>
</section>
