  <img src="{{ wallpaper | url }} " alt="Detailtop" width=100% height=700rem>

<section class="detail__intro">
        <div class="detail__intro--first">
        <ul>
          <li>client: </li>
          <li>request:</li>
          <li>Technology: </li>
          <li>Result: </li>
        </ul>
        </div>
        
        <div class="detail__intro--second">
        <ul>
          <li>{{client.name}} </li>
          <li>{{client.request}} </li>
          <li>{{technology.name}} </li>
          <li><a href="{{client.link}}">{{client.link}}</a> </li>
        
        </ul>
        </div>
</section>
