<form class="contactform">
  <label for="fname">First name:</label><br>
  <input type="name" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="name" id="lname" name="lname">
  <label for="phone">Phone number:</label><br>
  <input type="number" id="phone" name="phone"><br>
  <label for="lname">E-mail:</label><br>
  <input type="mail" id="mail" name="mail"> <br> <br>
  <label for="Topic">Choose a topic:</label> <br>
  <select name="topic" id="topic">
    <option value="volvo">Sales</option>
    <option value="saab">Jobs</option>
    <option value="opel">General</option>
    
  </select>
  <br><br>
  <input type="submit" value="Submit">


</form>