<div class="article__flex"> 
<iframe  src='https://api.mapbox.com/styles/v1/jerminho11/cknohongb05x917n22dbzfnfz.html?fresh=true&title=view&access_token=pk.eyJ1IjoiamVybWluaG8xMSIsImEiOiJja2xnbThmamwya2psMnVsYjhjenZqb2kyIn0.lEGTnBWY7DsTgMxoMLeQRw'>
</iframe>  
      <div class="article__flex--inner">
        <h1>Navigation</h1><br>
        <p class="article--text" >Elaborate and find your way around by using the embedded map !
        You may use the map to find our enterprises and our headquarters if you'd be keen to do so. <br><br><br>
        © This map has been provided by MapBox.
        </p>
        </div>