---
layout: layouts/base.njk
eleventyNavigation:
  key: Work
  order: 3
title: Work
permalink: /work/
image: /static/images/work.jpg
description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
     Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
---
{% include "components/page-top.njk" %}

{% set postlist = collections.posts %}
{% include "layouts/postlist.njk" %}