---
layout: layouts/base.njk
eleventyNavigation:
  key: Work
  order: 3
title: Work
permalink: /work/
image: /static/images/work.jpg
description: Below you can find some of the projects I've been working on during my time at college. I will also be adding more individuals projects to keep learning and enhancing myself.
---
{% include "components/page-top.njk" %}

{% set postlist = collections.posts %}
{% include "layouts/postlist.njk" %}