---
layout: layouts/post.njk
title: Some title
thumbnail: /static/images/project-1-logo.jpg
tags: posts
wallpaper: /static/images/watchdetail.jpg


client:
  name: Breitling
  synopsis: some syno
  logo: some.png
  link: https://www.bellross.com/
  request: A highly interactive webpage
---

{% include "components/detail-top.njk" %}

<article class="detail__about">
    <h2>{{client.synopsis}}</h2>
    
    <p></p>
</article>




