.buttons{
    margin-top:2rem;
    .more{
        background-color: $primary-color;
        color:white;
        padding: 1rem;
    }
    .more--blue{
            background-color: $secondary-color;
            color:white;
            padding: 1rem;
    }
}