iframe{
    width: 55%;
    height:600px;

    @media screen and (max-width:1116px) {
        width: 95%;
        margin: auto;
        margin-bottom: 4rem;
    }
}

.article__flex{
   display: flex;
   align-content: space-between;
   justify-content:space-around;
   padding-bottom: 5rem;
   padding-top: 5rem;
   border-bottom: 3px solid white;
   border-top: 3px solid white;
   background-color: #141414;

   
   
   &--inner{
       width: 25rem;
       color: white;
       text-align: center;

       @media screen and (max-width:1116px) {
           width: 68%;
           margin: auto;
           margin-bottom: 4rem;
       }

       h1{
           text-align: left;
           text-decoration: underline  palegoldenrod;
       }

       p{
           margin-top: 5rem;
       }
   }

    img{
        width: 55%;

        @media screen and (max-width:1116px) {
            width: 75%;
            margin: auto;
        }
    }
 }

@media screen and (max-width:1116px) {
       .article__flex{
           flex-direction: column;
       }
    
    }
