.nav{
    text-align: right;
    &__list{
        display: none;
        
        height:100%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        &-item{
            a{
                color:white;
                font-family: $font-family-fira;
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:$secondary-color;
                    transition: 0.3s;
                }
            }
        }
        @media (min-width:$pc-breakpoint) {
            display: flex;
            height:100%;
            list-style: none;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__hamburger{
        text-align: right;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            svg{
                fill: white;
            }
        }
        @media (min-width:$pc-breakpoint) {
            display: none;
        }
    }
}