.works{

    font-family: $font-family-fira;
    width: 75%;
    margin: auto;
    margin-bottom: 15rem;

    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5rem;
        margin-top: 12rem;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: $white;

        @media screen and (max-width:1060px) {
            flex-direction: column;
        }
        h2{
                margin-bottom: 2rem;
                text-decoration: underline palegoldenrod;
            }

            h3{
                color: palegoldenrod;
            }

            p{
                padding-top: 3rem;
                padding-bottom: 1rem;
            }
            a{
                text-align: right;
                color: palegoldenrod;
                text-decoration: underline;
            }

        &--first{
            @media screen and (max-width:1060px) {
               width: 90%;
               margin: auto; ;
            }
            width: 30%;

          img{
              width:100%;
              margin-top: 2.7rem;
          }

          
        }
        
        &--second{
              width: 50%;

              @media screen and (max-width:1060px) {
                width: 80%;
                margin: auto;
                margin-top: 5rem;

                p{
                    text-align: center;
                }
            }
          }
        

    }
}